.detail-card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  vertical-align: middle;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.26);
  border-radius: 18px;
  padding: 30px;
  width: 100%;
  max-width: 700px;
  min-height: 400px;
  border: solid 7px #e6ebf3;
}

.socials a {
  color: #343a40;
  letter-spacing: 1em;
  font-size: 1.5em;
  text-decoration: none;
}
